<h1 class="display-4"><%= t('.header') %></h1>
<table>
  <table class = 'table'>
    <tr>
      <th scope = 'col', class="sort-by-title pointer"><%= t('.title') %></th>
      <th scope = 'col'><%= t('.description') %></th>
      <th scope = 'col'><%= t('.image') %></th>
      <th scope = 'col'><%= t('.count') %></th>
    </tr>
    <tbody>
    <%= render @badges.uniq %>
    </tbody>
  </table>
</table>