<div class="myProgress" style="width: 100%; background-color: #DDDDDD">
  <%= content_tag :div, class: "progress-bar", style: "width: 1%; height: 10px; background-color: forestgreen; text-align: center", data: {question_number: @test_passage.question_number, questions_number: @test_passage.test.questions.length } do %>
  <% end %>
</div>

<nav class="navbar navbar-light">
  <span class = "navbar-brand">
		<%= t('.header', title: @test_passage.test.title) %>
  </span>
  <span class = "navbar-text">
    <%= t('.questions_count', count: @test_passage.test.questions.count) %>
    <%= t('.current_question', current: @test_passage.question_number) %>
  </span>
</nav>

<div class = 'row justify-content-left p-3'>
  <div class = "col col-md-4" >
    <h2><%= @test_passage.current_question.body %></h2>
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
      <div class="form-check">
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <p>
          <%= b.check_box id: "anser_ids_#{b.object_id}" %>
          <%= b.label %>
        </p>
      <%end %>
        <p>
          <%= form.submit t('.next'), class: 'btn btn-success' %>
          <%= link_to t('.question'), gist_test_passage_path(@test_passage), method: :post, class: 'btn btn-success' %>
        </p>
      </div>
    <% end %>
  </div>
</div>
