<h1><%= "Edit" %></h1>
<%#= link_to 'Back to question', test_question_path %>
<%= form_with model: @answer, local: true do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.label :correct %><br>
    <%= form.check_box :correct %>
  </p>
  <p><%= form.submit %></p>
<% end %>