<%= form_with model: [:admin, @test], local: true do |form| %>
  <%#= render 'errors' %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%=form.label :difficulty %>
    <%=form.number_field :difficulty %>
  </p>
  <p>
    <%=form.label :category_id %>
    <%=form.collection_select :category_id, Category.all, :id, :title, prompt:true %>
  </p>
  <p><%= form.submit %></p>
<% end %>