<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class = "nav user">
        Welcome, <b> <%= current_user.email %> </b> Guru |
        <%= link_to "Выход", destroy_user_session_path,  method: :delete %>
      </p>
    <% else %>
      <% session[:requested_path] = request.env['PATH_INFO'] %>
      <p class = "nav user"></p>
    <% end %>


    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
